name: Build and Push Docker Images

on:
  push:
    branches:
      - main


jobs:
  build-and-push:
    runs:on: self-hosted

    strategy:
      matrix:
        service:
          - choreography-inventory-service
          - choreography-notification-service
          - choreography-order-service
          - choreography-payment-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./services/${{ matrix.service }}
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest